.padding-side {
    padding-left: 0rem;
    padding-right: 0rem;

    @include respond(tab-port) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include respond(desktop) {
        padding-left: 8rem;
        padding-right: 8rem;
    }

  }